// Colours
$black: #222;
$blue: #0052bd;
$white: #fff;
$yellow: #ffe66b;

// Type
$primary-font: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

$light: 300;
$reg: 400;
$semi-bold: 600;
$bold: 700;

body {
  font-family: $primary-font;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $semi-bold;
  }

  input,
  textarea,
  button {
    font-family: inherit;
  }

  header {
    background-color: $black;

    h1 {
      border-bottom: 2px solid $yellow;
      border-right: 2px solid $yellow;
      padding: 0 1rem 1rem 0;
    }
  }

  main {
    section {
      .container {
        padding: 2.5rem 1.5rem;
      }

      &.search {
        background-color: $yellow;

        form {
          input[type="text"],
          button {
            border: none;
            border-radius: 0;
          }

          input[type="text"] {
            border: 1px solid $black;
          }

          button {
            background-color: $black;
            border: 1px solid $black;

            &:hover {
              color: $yellow;
            }
          }
        }
      }

      &.gallery {
        .photo-grid {
          align-items: flex-start;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;

          .photo-sizer {
            width: 100%;

            @media (min-width: 768px) {
              width: calc((100% - 16px) / 2);
            }

            @media (min-width: 1024px) {
              width: calc((100% - 32px) / 3);
            }

            @media (min-width: 1280px) {
              width: calc((100% - 48px) / 4);
            }
          }

          .photo-thumb {
            display: inline-block;
            margin-bottom: 1rem;
            width: 100%;

            @media (min-width: 768px) {
              width: calc((100% - 16px) / 2);
            }

            @media (min-width: 1024px) {
              width: calc((100% - 32px) / 3);
            }

            @media (min-width: 1280px) {
              width: calc((100% - 48px) / 4);
            }

            img {
              height: auto;
              max-width: 100%;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .photo-details {
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 4;

    .overlay {
      align-items: center;
      background-color: rgba($black, .7);
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
      z-index: 6;
    }

    .content {
      animation: modalSlide 1.5s linear 0s 1 alternate;
      animation-fill-mode: forwards;
      background-color: $white;
      height: fit-content;
      left: -1000px;
      padding: 1rem;
      position: relative;
      width: max-content;
      z-index: 10;

      .photo {
        max-height: 90vh;
        max-width: 100%;
      }

      .photo-info {
        background-color: rgba($black, .7);
        border-radius: 8px;
        bottom: 2rem;
        color: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 500px;
        padding: 1rem;
        position: absolute;
        right: 2rem;
        width: calc(100% - 64px);

        .description {
          margin-top: 0;
        }

        .photo-location {
          margin: 0 0 .75rem;
        }

        .stats {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 1rem;
          width: 100%;

          p {
            margin: 0;
            text-align: center;
          }
        }

        .download {
          margin-left: auto;

          a {
            background-color: $black;
            border: 1px solid $black;
            border-radius: 4px;
            color: $yellow;
            display: inline-block;
            min-width: 150px;
            padding: .5rem 1rem;
            text-align: center;
            text-decoration: none;
          }
        }

        .photographer {
          img {
            border-radius: 50%;
            width: 48px;
          }

          &-info {
            display: inline-block;

            h3,
            h4,
            p {
              margin: 0;
            }

            .name {
              margin-bottom: .5rem;
            }

            .username {
              margin-bottom: .5rem;

              a {
                color: $yellow;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .close {
        background: $black;
        border-radius: 50%;
        color: $yellow;
        height: 32px;
        position: absolute;
        right: 2rem;
        text-align: center;
        top: 2rem;
        width: 32px;

        svg {
          fill: $yellow;
          width: 16px;
        }
      }
    }
  }
}

@keyframes modalSlide {
  0%   {
    left: -1000px;
  }
  20%  {
    left: -800px;
  }
  40%  {
    left: -600px;
  }
  60%  {
    left: -400px;
  }
  80%  {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
